In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\JahnaviP\Downloads\bank.csv")

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
age          11162 non-null int64
job          11162 non-null object
marital      11162 non-null object
education    11162 non-null object
default      11162 non-null object
balance      11162 non-null int64
housing      11162 non-null object
loan         11162 non-null object
contact      11162 non-null object
day          11162 non-null int64
month        11162 non-null object
duration     11162 non-null int64
campaign     11162 non-null int64
pdays        11162 non-null int64
previous     11162 non-null int64
poutcome     11162 non-null object
deposit      11162 non-null object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [7]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,married,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,married,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,divorced,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,single,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,married,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,married,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,single,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,divorced,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,married,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,divorced,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,divorced,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,married,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,divorced,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,married,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,married,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,married,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,married,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,married,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,married,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [8]:
x=data.iloc[:,:16].values
y=data.iloc[:,16].values

In [9]:
from sklearn.preprocessing import OneHotEncoder#creates columns based on categories of textual data
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[1,2,3,4,6,7,8,10,15])],remainder="passthrough")#add columns to first
x=ct.fit_transform(x)

In [10]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [11]:
y

array(['yes', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [13]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10000)

In [15]:
x_train

array([[0.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 30, -1, 0],
       [0.0, 0.0, 0.0, ..., 3, -1, 0],
       ...,
       [0.0, 0.0, 1.0, ..., 4, -1, 0],
       [0.0, 0.0, 0.0, ..., 3, -1, 0],
       [0.0, 1.0, 0.0, ..., 8, -1, 0]], dtype=object)

In [16]:
y_train

array([0, 0, 1, ..., 0, 0, 0])

In [17]:
x_test

array([[0.0, 0.0, 0.0, ..., 5, -1, 0],
       [0.0, 1.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, 182, 2],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 6, -1, 0]], dtype=object)

In [18]:
y_test

array([0, 0, 1, ..., 0, 0, 0])

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [20]:
x_train

array([[-0.36426721, -0.46260575, -0.1693713 , ..., -0.56446046,
        -0.47466251, -0.35339114],
       [-0.36426721, -0.46260575, -0.1693713 , ..., 10.21603495,
        -0.47466251, -0.35339114],
       [-0.36426721, -0.46260575, -0.1693713 , ...,  0.17902198,
        -0.47466251, -0.35339114],
       ...,
       [-0.36426721, -0.46260575,  5.90418815, ...,  0.5507632 ,
        -0.47466251, -0.35339114],
       [-0.36426721, -0.46260575, -0.1693713 , ...,  0.17902198,
        -0.47466251, -0.35339114],
       [-0.36426721,  2.16166791, -0.1693713 , ...,  2.03772808,
        -0.47466251, -0.35339114]])

In [21]:
x_test

array([[-0.38480122, -0.44565054, -0.19150966, ...,  0.88963344,
        -0.50714558, -0.40546216],
       [-0.38480122,  2.24391068, -0.19150966, ..., -0.51602831,
        -0.50714558, -0.40546216],
       [ 2.59874435, -0.44565054, -0.19150966, ..., -0.51602831,
         1.14656309,  0.50585843],
       ...,
       [-0.38480122, -0.44565054, -0.19150966, ..., -0.16461288,
        -0.50714558, -0.40546216],
       [ 2.59874435, -0.44565054, -0.19150966, ..., -0.51602831,
        -0.50714558, -0.40546216],
       [ 2.59874435, -0.44565054, -0.19150966, ...,  1.24104888,
        -0.50714558, -0.40546216]])

In [22]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
a=logreg.fit(x_train,y_train)

C:\Users\JahnaviP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [23]:
a

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
ypreg=logreg.predict(x_test)

In [25]:
ypreg

array([0, 0, 0, ..., 0, 0, 0])

In [26]:
y_test

array([0, 0, 1, ..., 0, 0, 0])

In [27]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypreg,y_test)

In [28]:
accuracy

0.8320644872369011

In [29]:
#59	admin.	married	secondary	no	2343	yes	no	unknown	5	may	1042	1	-1	0	unknown

In [30]:
a=logreg.predict(sc.transform(ct.transform([[51,"admin.","married","secondary","no",2343,"yes","no","unknown",51,"may",1042,1,-1,0,"unknown"]])))

In [31]:
a

array([1])

In [32]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes

In [33]:
data.job.unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [34]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
bank=Sequential()

In [37]:
x.shape

(11162, 51)

In [39]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes

In [51]:
bank.add(Dense(51,kernel_initializer="random_uniform",activation="relu"))

WARNING:tensorflow:From C:\Users\JahnaviP\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [49]:
y.shape

(11162,)

In [52]:
bank.add(Dense(102,kernel_initializer="random_uniform",activation="relu"))

In [53]:
bank.add(Dense(1,kernel_initializer="random_uniform",activation="sigmoid"))

In [54]:
bank.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [56]:
bank.fit(x_train,y_train,batch_size=32,epochs=50)

Epoch 1/50
8929/8929 [==============================] - 0s 38us/sample - loss: 0.2697 - acc: 0.8861
Epoch 2/50
8929/8929 [==============================] - 0s 35us/sample - loss: 0.2635 - acc: 0.8880
Epoch 3/50
8929/8929 [==============================] - 0s 35us/sample - loss: 0.2561 - acc: 0.8913
Epoch 4/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.2512 - acc: 0.8935
Epoch 5/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.2472 - acc: 0.8960
Epoch 6/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.2483 - acc: 0.8973
Epoch 7/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.2437 - acc: 0.8983
Epoch 8/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.2360 - acc: 0.9017
Epoch 9/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.2359 - acc: 0.8992
Epoch 10/50
8929/8929 [==============================] - 0s 42us/sample - loss: 0.2361 - acc: 0.90260s - loss: 0.2369 - acc: 0
Epoch 11/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.2334 - acc: 0.9018
Epoch 12/50
8929/8929 [==============================] - 0s 38us/sample - loss: 0.2255 - acc: 0.9089
Epoch 13/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.2238 - acc: 0.9045
Epoch 14/50
8929/8929 [==============================] - 0s 39us/sample - loss: 0.2218 - acc: 0.9049
Epoch 15/50
8929/8929 [==============================] - 0s 38us/sample - loss: 0.2175 - acc: 0.9088
Epoch 16/50
8929/8929 [==============================] - 0s 40us/sample - loss: 0.2158 - acc: 0.9113
Epoch 17/50
8929/8929 [==============================] - 0s 43us/sample - loss: 0.2117 - acc: 0.9131
Epoch 18/50
8929/8929 [==============================] - 0s 40us/sample - loss: 0.2101 - acc: 0.9139
Epoch 19/50
8929/8929 [==============================] - 0s 42us/sample - loss: 0.2044 - acc: 0.9153
Epoch 20/50
8929/8929 [==============================] - 0s 39us/sample - loss: 0.2062 - acc: 0.9145
Epoch 21/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.2042 - acc: 0.91430s - loss: 0.2043 - acc: 0.914
Epoch 22/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.2027 - acc: 0.9184
Epoch 23/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.1984 - acc: 0.9176
Epoch 24/50
8929/8929 [==============================] - 0s 35us/sample - loss: 0.1954 - acc: 0.9201
Epoch 25/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.2165 - acc: 0.9122
Epoch 26/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.1951 - acc: 0.9203
Epoch 27/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1829 - acc: 0.9265
Epoch 28/50
8929/8929 [==============================] - 0s 32us/sample - loss: 0.1868 - acc: 0.9218
Epoch 29/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1794 - acc: 0.9264
Epoch 30/50
8929/8929 [==============================] - 0s 44us/sample - loss: 0.1776 - acc: 0.9268
Epoch 31/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1754 - acc: 0.9268
Epoch 32/50
8929/8929 [==============================] - 0s 35us/sample - loss: 0.1785 - acc: 0.9275
Epoch 33/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1717 - acc: 0.9289
Epoch 34/50
8929/8929 [==============================] - 0s 37us/sample - loss: 0.1750 - acc: 0.9272
Epoch 35/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.1680 - acc: 0.9311
Epoch 36/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1675 - acc: 0.9305
Epoch 37/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1623 - acc: 0.9336
Epoch 38/50
8929/8929 [==============================] - 0s 39us/sample - loss: 0.1622 - acc: 0.9339
Epoch 39/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1585 - acc: 0.9364
Epoch 40/50
8929/8929 [==============================] - 0s 39us/sample - loss: 0.1600 - acc: 0.9329
Epoch 41/50
8929/8929 [==============================] - 0s 35us/sample - loss: 0.1652 - acc: 0.9309
Epoch 42/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.1543 - acc: 0.9364
Epoch 43/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1525 - acc: 0.9358
Epoch 44/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1486 - acc: 0.9412
Epoch 45/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1484 - acc: 0.9391
Epoch 46/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1431 - acc: 0.9414
Epoch 47/50
8929/8929 [==============================] - 0s 34us/sample - loss: 0.1428 - acc: 0.9423
Epoch 48/50
8929/8929 [==============================] - 0s 33us/sample - loss: 0.1397 - acc: 0.9450
Epoch 49/50
8929/8929 [==============================] - 0s 36us/sample - loss: 0.1398 - acc: 0.9433
Epoch 50/50
8929/8929 [==============================] - 0s 42us/sample - loss: 0.1565 - acc: 0.9348

In [57]:
ypred=bank.predict(x_test)

In [58]:
ypred

array([[0.0000000e+00],
       [4.7981739e-06],
       [2.1014780e-02],
       ...,
       [3.0636698e-02],
       [1.5412867e-03],
       [1.8897384e-07]], dtype=float32)

In [59]:
y_test

array([0, 0, 1, ..., 0, 0, 0])

In [60]:
ypred[1]

array([4.798174e-06], dtype=float32)

In [61]:
y_test[1]

0

In [64]:
a=bank.predict_classes(sc.transform(ct.transform([[51,"admin.","married","secondary","no",2343,"yes","no","unknown",51,"may",1042,1,-1,0,"unknown"]])))

In [65]:
a

array([[0]])